In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pllt
#% matplotlib inline

In [6]:
heart_disease=pd.read_csv("heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [7]:
X = heart_disease.drop("target",axis=1)
Y = heart_disease["target"]

In [8]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [9]:
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [11]:
from sklearn.ensemble import RandomForestClassifier
clf =RandomForestClassifier()
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [42]:
#fit the model on given data 
np.random.seed(22)
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

In [43]:
len(X_train),len(X_test)

(242, 61)

In [44]:
clf.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [45]:
Y_preds = clf.predict(X_test)

In [46]:
Y_preds

array([1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1], dtype=int64)

In [47]:
# Evaluating A model on test Data
clf.score(X_train,Y_train)

1.0

In [48]:
clf.score(X_test,Y_test)

0.7868852459016393

In [54]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
report = classification_report(Y_test,Y_preds)

In [55]:
conf_matrics= confusion_matrix(Y_test,Y_preds)
conf_matrics

array([[19,  8],
       [ 5, 29]], dtype=int64)

In [59]:
car_sales= pd.read_csv("./data/car-sales-extended.csv")
car_sales.head()
#len(car_sales)

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [61]:
X = car_sales.drop("Price",axis=1)
Y = car_sales["Price"]

In [62]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [63]:
Y.head()

0    15323
1    19943
2    28343
3    13434
4    14043
Name: Price, dtype: int64

In [64]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

In [88]:
np.random.seed(22)
from sklearn.ensemble import RandomForestRegressor
reg= RandomForestRegressor()
reg.fit(X_train,Y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

# Turning Data into Numbers

In [89]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [90]:
# Converting Catagory into Numbers 
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
catagorical_feature=["Make","Colour","Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',one_hot,catagorical_feature)],remainder="passthrough")

transformed_X= transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [91]:
pd.DataFrame(transformed_X)

       0    1    2    3    4    5    6    7    8    9   10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [92]:
dummies =pd.get_dummies(car_sales[["Make","Colour","Doors"]])

dummies
#car_sales[["Make","Colour","Doors"]]

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [93]:
np.random.seed(22)

X_train,X_test,Y_train,Y_test = train_test_split(transformed_X,Y,test_size=0.2)

In [94]:
len(Y_train)

800

In [96]:
reg.fit(X_train,Y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [97]:
reg.score(X_train,Y_train)

0.8957408497359153

In [98]:
reg.score(X_test,Y_test)

0.3437260105155976

In [99]:
Y_preds = reg.predict(X_test)
Y_preds

array([26439.98, 14135.38, 18025.8 , 13068.87, 28801.13, 14110.68,
       29324.1 ,  9811.47, 45105.52, 13760.76, 17692.69, 17898.13,
       18066.37, 19044.34, 15163.28, 18436.75, 13378.05, 13750.88,
       18146.11, 22785.26,  9112.97, 16940.35, 16001.94, 17497.28,
       18644.95, 12852.83, 16842.93, 13800.86,  7523.08, 11292.93,
       15567.24,  9492.18,  9096.68, 24210.49, 18366.83, 22081.87,
       11156.06, 19929.36, 18836.59, 13966.94,  9590.54,  7302.74,
       49021.21, 13003.22, 37405.05,  8015.57, 15237.04, 11537.76,
        8838.01, 12527.75, 18773.75, 24922.53, 23904.96, 17363.29,
       15408.5 ,  8900.73, 14932.19, 28450.98, 21485.25, 10602.9 ,
       18477.27, 20739.59, 11859.28, 20972.69, 16570.27, 11826.93,
       10993.37, 12787.85, 13343.09, 18063.75, 17036.74, 25377.6 ,
       16313.3 , 14598.37, 14137.26,  8039.71, 22726.95, 21613.2 ,
       12074.25, 22314.8 , 16170.29, 13412.1 , 11110.81, 14261.64,
       15107.38, 19697.08, 15699.36, 16964.48, 12150.52, 11367.36,
       12527.72, 11941.75, 29954.26, 14415.18, 10054.87, 13305.36,
       18714.81, 17687.54, 11914.8 , 19686.81, 10537.18, 24244.28,
       16628.69,  9423.07,  7554.14, 11003.6 ,  9547.91, 17872.83,
        7955.33, 18495.1 , 18329.05, 30946.24,  7868.24, 19282.05,
       10234.01, 11469.38, 24333.22, 17724.88,  8278.15, 22337.73,
       15220.93,  8921.03, 26620.23, 11288.71, 11723.43, 18517.42,
       11722.32, 12670.91,  6605.22, 21476.98, 10973.5 , 26222.94,
       19665.85, 10557.74, 13046.24, 28112.57, 18404.46, 10033.68,
       23790.72, 15496.77, 16551.09, 13474.96, 13376.74, 14682.62,
       12168.83, 13918.31, 15642.46, 23541.25,  8894.1 , 21676.93,
       10720.98, 18363.4 ,  9979.44, 10446.09,  8036.1 ,  8678.63,
       25024.2 ,  7533.25, 17944.91, 32268.81, 12455.66, 13653.39,
       28443.1 , 12940.31, 18526.14,  8990.5 , 13641.07, 10398.88,
       13670.54, 14126.57, 27644.15, 25393.22, 10512.1 , 23952.24,
       13019.79, 14593.23, 12061.47, 26928.62, 12886.9 ,  9990.12,
       22450.59, 15129.8 , 15804.03, 29573.8 , 13198.65,  6656.82,
        9390.35, 12199.72, 11937.41, 11368.96,  9514.15, 28838.51,
       13642.22, 11614.32, 15043.96, 12348.01, 13677.51, 11245.46,
       13327.33, 10464.64])

In [110]:
pred_df = pd.DataFrame(Y_preds)
pred_df
actual_df = pd.DataFrame(Y_test)
actual_df

     Price
866  14145
191   7097
732   6920
657  16308
155  19106
..     ...
417   6241
239  10456
75   20424
623   8870
101  13250

[200 rows x 1 columns]

In [106]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,Y_preds)

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets