In [1]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [5]:
cars = pd.Series(["Bmw","ferrari","Bugati","Toyota"])

In [6]:
cars

0        Bmw
1    ferrari
2     Bugati
3     Toyota
dtype: object

In [7]:
car_prices=[200000,600000,450000,900000]

In [8]:
prices=pd.Series(car_prices)

In [9]:
prices

0    200000
1    600000
2    450000
3    900000
dtype: int64

In [10]:
car_data = pd.DataFrame({"brand":cars,"prices":prices})

In [11]:
car_data

     brand  prices
0      Bmw  200000
1  ferrari  600000
2   Bugati  450000
3   Toyota  900000